<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#app-nav">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">angular2</a>
    </div>
    <div class="collapse navbar-collapse" id="app-nav">
      <ul class="nav navbar-nav">
        <li><a ng-link="itemlist">商品一覧</a></li>
      <li><a ng-link="carts">カート <span class="badge">{{angular2.carts | number:0}}</span></a></li>
        <li><a ng-link="history">購入履歴</a></li>
        <li><a ng-link="user">個人情報</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/albatrosary/generator-angular-eggs/blob/master/readme.md">github</a></li>
      </ul>
    </div>
  </div>
</div>
