  <li class="media" ng-repeat="data in itemlist.items">
    <div class="media-left">
      <a ng-link="item({isbn:data.isbn})">
      <!-- <a href="#"> -->
        <img class="media-object" src="{{data.image}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{data.title}}</h4>
      <p>{{data.description}}</p>
      <p>{{data.isbn}}</p>
      <p>{{data.price | currency:"&yen;":0}}</p>
      <p><a ng-click="itemlist.addCart(data.isbn)" class="btn btn-default" role="button">+</a>
      <a ng-click="itemlist.removeCart(data.isbn)" class="btn btn-default" role="button">-</a></p>
    </div>
  </li>
